
/* Light mode */
[data-md-color-scheme="default"] {
    --md-primary-fg-color:        #4967aa;
    --md-primary-fg-color--light: #4967aa;
    --md-primary-fg-color--dark:  #4967aa;
  }

 /* Dark mode */
  [data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #4967aa;
    --md-primary-fg-color--light: #4967aa;
    --md-primary-fg-color--dark:  #4967aa;
  }