[submodule "docs/UCloud_SlurmCluster"]
	path = docs/UCloud_SlurmCluster
	url = https://github.com/CBS-HPC/UCloud_SlurmCluster
[submodule "docs/UCloud_BatchMode"]
	path = docs/UCloud_BatchMode
	url = https://github.com/CBS-HPC/UCloud_BatchMode
[submodule "docs/Tutorials"]
	path = docs/Tutorials
	url = https://github.com/CBS-HPC/Tutorials
