site_name: HPC & Data Science Support
nav:
    - 'index.md'
    - 'news.md'
    - 'events.md'
    - HPC Facilites:
      - 'hpc.md'
      - 'Type 1 – Interactive HPC (UCloud)': '/HPC_Facilities/UCloud/'
      - 'National HPC Facilities (DeiC)': '/HPC_Facilities/DeiC/'
      - 'WRDS - Wharton Research Data Services':  '/HPC_Facilities/WRDS/'
      - 'Nationalt Genom Center HPC (Danish Statistics Data)': '/HPC_Facilities/NGC/'
      - 'HPC Operational Status': '/HPC_Facilities/status/'
    - 'getresources.md'
    - 'tut_docs.md'
    - 'contact.md'

theme:
  name: material
  logo: images/CBS_logo.png
  features:
    - navigation.tabs
    - toc.integrate
    - search.suggest
    - search.higlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
      primary: indigo
      accent: blue
    - scheme: slate
      toggle: 
        icon: material/toggle-switch
        name: Switch to light mode 
      primary: indigo
      accent: blue
extra_css:
  - stylesheets/extra.css     

plugins:
    - search
    - awesome-pages # awesome-pages allows to hide folders (pip install)

# Section Links    
markdown_extensions:
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true 
  - toc:
      permalink: 